@import url(base.css);

h1 {
  font-weight: bolder;
  text-align: center;
}

/* Constrain the page to the viewport */
html, body {
 font-family: Monospace, Arial, sans-serif;
 height: 100vh;
}
img{
  border-radius: 12px;
  max-width: 500px;
  display: block;
  margin: auto;
}
p{
  margin: 10px;
}
section{
  margin: 10px;
  border-bottom: 5px dashed black;
}
h2{
  margin-bottom: 10px;
  text-align: center;
}
main{
  display: flex;
  flex-wrap:wrap;
  justify-content: center;
  grid-area: main;
  overflow-y: auto;
}
/* Center the nav's header and list */
nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-area: nav;
}

/* navigation buttons have full width */
nav button {
  width: 100%;
}

/* Remove unnecessary space and bullets from the lists */
ul {
  background-color: rgb(250, 250, 250); 
  padding: 5px;
  margin: 5px;
  border: 2px black;
  border-radius: 10px;
  border-style: inset;
  display: flex;
  flex-direction: column;
  list-style: none;
}

/* Task 2.1. Lay out the childs of the 'body' using Grid Template Areas. */
body {
  margin: 0px;
  display: grid;
  grid-template-columns: minmax(192px, 256px) auto;
  grid-template-rows: minmax(64px, 128px) auto minmax(64px, 128px);
  grid-template-areas: 
    "header header"
    "nav main"
    "footer footer";

}
header{
  grid-area: header;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer{
  grid-area: footer;
  margin: auto;
  display: flex;
  flex-wrap:wrap;
  flex-direction: row;
}

@media(max-width: 600px){
  body {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 40px auto auto 75px;
  grid-template-areas: 
    "header"
    "nav"
    "main"
    "footer";
  }
  ul{
  flex-wrap:wrap;
  flex-direction: row;
  }
}

/* Task 3.1. Make the header element a flex container and center its children
   vertically and horizontally.
 */


/* Task 3.2. Make the list items of the unordered list in the nav element a flex container, 
   use column direction and center the child items
 */

/* Task 3.3. Make the main element a Flexbox container */


/* Task 3.4. Make the footer's ul a Flexbox container */


/* From here on styling from exercise 1 */
article {
  box-shadow: 10px 10px 20px rgb(0, 0, 0);
  flex: 1; 
  background-color: lightgray;
  border-radius: 16px;
  padding: 16px;
  width: 384px;
  margin: 8px;
}

a {
  color: beige;
}

span {
  margin-right: 4px;
}

.genre {
  padding: 4px 8px;
  border: solid black 1px;
  border-radius: 6px;
  background-color: darkgray;
  font-weight: bold;
}
